// File for scss-vars.
// For example: main colors, paddings and so on.
$gotham: 'Gotham Pro', Helvetica, Arial, sans-serif;
$pfd: 'Play Fair Display', Helvetica, Arial, sans-serif;
$proxima: 'Proxima Nova', Helvetica, Arial, sans-serif;

$gray: #c0c0c4;
$orange: #d39500;